@import "../fonts/bitter/stylesheet.css";

@import "../fonts/source-sans/stylesheet.css";


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset stylesheet */

body {
  color: #655643;
  background: #fffff3;
  font-family: "source-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2em;
  text-align: center;
}
a {
  color: #447272;
  text-decoration: none;
  transition: color 0.4s ease-out 0s;
}
a:hover {
  color: #bf4d28;
}
a.github {
  color: #000;
  font-size: 1.25em;
}
a.github:hover {
  color: #bf4d28;
}
strong, dt, dt a {
  font-weight: 600;
  color: #bf4d28;
}
em {
  font-style: italic;
  color: #8fc1b9;
}
.break em {
  font-style: normal;
}
#top::before {
  background: #447272;
  width: 100%;
  height: 2.4em;
  display: block;
  content: '';
}
#top {
  background-color: #8fc1b9;
  color: #fffff3;
  font-size: 1.5em;
  margin: 3em auto 1em;
  text-align: left;
  width: 100%;
}
#top div {
  margin: -3em auto;
  max-width: 750px;
  padding: 0 10px;
}
#top::after {
  clear: both;
  content: "";
  display: block;
}
#top h1 {
  color: #8fc1b9;
  font-family: "source-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 2em;
  margin: .16em 0 0 0;
  position: relative;
  top: -.16em;
}
#top h2 {
  color: #fffff3;
  font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  margin: .6em 0;
}
#top a, #top strong {
  color: #bf4d28;
  font-weight: normal;
}
#top a:hover {
  color: #447272;
}
#top h4 {
  font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .content {
  display: block;
  float: none;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}
.content h2 {
  color: #447272;
  font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1em;
  margin: 2em 0 .5em;
}
.content h2 em {
  font-style: normal;
}
.content h3 {
  color: #bf4d28;
  font-family: source-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1em;
  margin: 0 0 .5em;
}
.content p + h3 {
  margin-top: 2em;
}
.content h4 {
  color: #447272;
  font-family: Bitter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 0;
  margin: 4em 0 0;
  text-transform: uppercase;
}
.content p,
.content ul,
.content dl {
  font-size: 1.3em;
  margin: .25em 0 1.25em 0;
}
.content dd {
  margin-bottom: .625em;
}
.content p.break {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.content li {
  list-style: circle inside;
}
hr,
#break {
  background: #447272;
  border: none;
  content: "";
  display: block;
  margin: 4em auto;
  max-width: 700px;
  min-height: 2px;
}
.content h4::after {
  clear: both;
  content: "";
  display: block;
  padding: 0 0 1em;
}
.photo {
  background: #fff;
  border: 1px solid #655643;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  float: left;
  margin: -0.5em 1em -1em -1.5em;
  max-height: 270px;
  padding: 15px;
  transform: rotate(358deg);
  -webkit-transform: rotate(358deg);
  -moz-transform: rotate(358deg);
  -o-transform: rotate(358deg);
  -ms-transform: rotate(358deg);
}
@media screen and (max-width: 720px) {
  body {
    font-size: .9em;
  }
  #top {
    margin-top: 0;
  }
  #top div {
    padding-bottom: 5px;
  }
  #top h1 {
    margin-bottom: -0.5em;
  }
  #top h2 {
    margin-top: 1em;
  }
  #top h2 span {
    display: none;
  }
  body .content {
    margin-top: 7em;
  }
  .photo {
    display: none;
  }
}
