/***** Reset Stylesheet *****/
html,body,section,nav,article,aside,h1,h2,h3,h4,h5,h6,hgroup,header,footer,address,p,hr,pre,blockquote,ol,ul,li,dl,dt,dd,figure,figcaption,div,a,em,strong,small,cite,q,dfn,abbr,time,code,var,samp,kbd,sub,sup,i,b,mark,ruby,rt,rp,bdo,span,br,wbr,ins,del,img,iframe,embed,object,param,video,audio,source,canvas,map,area,table,caption,colgroup,col,tbody,thead,tfoot,tr,td,th,form,fieldset,legend,label,input,button,select,datalist,optgroup,option,textarea,keygen,output,progress,meter,details,summary,command,menu{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;}
body{background:white;color:black;font-size:0.625em;/* Sets 1em = 10px;optional */
line-height:1;}
ol,ul,li{list-style:none;margin:0;padding:0;}
/* Remember cellspacing="0" because CSS+Tables=Fail */
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*** Sane defaults ***/
b,strong{font-weight:bold;}
i,em,cite{font-style:italic;}
.underline{text-decoration:underline;}
small {font-size: .8em;}

/** Page Styles */
html {
    height: 100%;
}

body {
    color: #141413;
    font-family: "Helvetica Neue", Helvetica, Arial, "DejaVu Sans", FreeSans, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.3em;
    min-height: 320px;
    overflow: hidden;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(243, 243, 243, 0.6);
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}

a {
    color: #b41413;
    outline: none;
    transition: all 250ms ease-in-out;
}

    a:hover, a:focus {
        color: #000;
        text-shadow: 1px 1px 6px #fff;
    }

    a:active {
        color: #040404;
    }

.section {
    clear: both;
    margin: 0 0 15px;
    padding: 1px 3px;
}

#container {
    background: #000 url(background.jpg) 90% -10px no-repeat;
    background-size: cover 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 320px;
    padding: 5% 0 0;
    position: relative;
    width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #container {
        background-image: url(background@2x.jpg);
    }
}

#page {
    background: rgba(243, 243, 243, .95);
    border: #030303 1px solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    margin: 0 60px 30px auto;
    padding: 14px 19px 0;
    transition: all 400ms linear;
    width: 278px;
}

h1 {
    color: #676662;
    font-size: 1.6em;
    font-weight: 200;
    line-height: 1.2em;
}

h2, h3 {
    line-height: 1.15em;
}

#content li:before {
    color: #b41413;
    content: '•';
}

/** Phones, iPods, etc. */
@media only screen and (max-width: 790px) {
    #container {
        background-position: 10% -30px;
        padding: 2% 0 0;
    }

    #page {
        margin: 0 auto 30px 2%;
        max-width: 278px;
        padding: 9px;
        width: 83%;
    }

    h1 {
        font-size: 1.5em;
        line-height: 1.15em;
    }
}

@media only screen and (max-width: 720px) {
    #container {
        background-position: 15% -30px;
    }
}

@media only screen and (max-width: 655px) {
    #container {
        background-position: 20% -30px;
    }
}

@media only screen and (max-width: 600px) {
    #container {
        background-position: 25% -30px;
    }
}

@media only screen and (max-width: 480px) {
    #container {
        background-position: 30% -30px;
    }
}

@media only screen and (max-width: 320px) {
    #container {
        background-position: 37% -30px;
    }

    body {
        font-size: 12px;
    }

    #page {
        margin-top: 90px;
        width: 75%;
    }
}
