/***** Reset Stylesheet *****/
html,body,section,nav,article,aside,h1,h2,h3,h4,h5,h6,hgroup,header,footer,address,p,hr,pre,blockquote,ol,ul,li,dl,dt,dd,figure,figcaption,div,a,em,strong,small,cite,q,dfn,abbr,time,code,var,samp,kbd,sub,sup,i,b,mark,ruby,rt,rp,bdo,span,br,wbr,ins,del,img,iframe,embed,object,param,video,audio,source,canvas,map,area,table,caption,colgroup,col,tbody,thead,tfoot,tr,td,th,form,fieldset,legend,label,input,button,select,datalist,optgroup,option,textarea,keygen,output,progress,meter,details,summary,command,menu{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;}
body{background:white;color:black;font-size:0.625em;/* Sets 1em = 10px;optional */
line-height:1;}
ol,ul,li{list-style:none;margin:0;padding:0;}
/* Remember cellspacing="0" because CSS+Tables=Fail */
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*** Sane defaults ***/
b,strong{font-weight:bold;}
i,em,cite{font-style:italic;}
.underline{text-decoration:underline;}
small {font-size: .8em;}
/*** Page Styles ***/

body {
	background: #f4f4f4 url(tomato-cutout.png) bottom right no-repeat fixed;
	color: #331a15;
	font-family: "Hoefler Text", Baskerville, "Adobe Garamond", Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
	font-size: .8em;
	line-height: 1.3em;
	padding: 0 0 1em;
	text-align: center;
	text-shadow: 1px 1px 0 #e5e5e5;
}

a {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #cf4444;
	display: inline-block;
	font-size: 1em;
	padding: 2px 2px 0;
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}
	
	a:hover, a:focus {
		color: #dd6f5c;
		font-size: 1.5em;
		margin: 0 10px;
		text-shadow: 1px 1px 6px #a5a5a5;
	}

.border {
	border: #ccc 1px solid;
}

.box-shadow {
	box-shadow: 3px 3px 6px #000;
	-moz-box-shadow: 3px 3px 6px #000;
	-webkit-box-shadow: 3px 3px 6px #000;
}

.box-shadow-blur {
	box-shadow: 0 1px 6px #030303;
	-moz-box-shadow: 0 1px 6px #030303;
	-webkit-box-shadow: 0 1px 6px #030303;
}

.box-shadow-soft {
	box-shadow: 0 1px 6px #ccc;
	-moz-box-shadow: 0 1px 6px #ccc;
	-webkit-box-shadow: 0 1px 6px #ccc;
}

.clear {
	clear: both;
}

.rounded {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

h1 {
	font-size: 2.5em;
	margin: .5em 0 .5em .5em;
	position: absolute;
	text-indent: -9999px;
	top: 0;
}

h2, h3 {
	color: #030303;
}

h2 {
	font-size: 2.3em;
	height: 1em;
	margin: .75em 0 1.5em;
}

h3 {
	border-bottom: #111 1px solid;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-style: italic;
	height: 1em;
	margin: .5em 0;
	width: 600px;
}

#container {
	margin: 125px auto 0;
	position: relative;
	width: 850px;
}

#container p, #container dl, #container ol, #container ul {
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 1em;
}

#container dt {
	clear: both;
	color: black;
	display: inline;
	float: left;
	font-weight: bold;
	width: 135px;
}

#container dd {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	margin: 0 0 10px 135px;
}

#content {
	left: 202px;
	position: absolute;
	text-align: center;
}

#matt-photo {
	left: 0;
	position: absolute;
}
